@import "tailwindcss";
/*в новой версии V4 подключается так*/


.btn {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover {
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    transform: translateY(-1px);
}

.font-georgia {
    font-family: 'Georgia', serif;
}

.room-card {
    --cols: 5;
    --gap: 20px;
    width: calc((100% - (var(--cols) - 1) * var(--gap)) / var(--cols));
    height: 320px;
}

/* index.css */
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}
.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}